Repository ndom91/youtube-playlists: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fix, npm run lint:css

update: precommit shit
  .lintstagedrc
Due: none

add: cypress tests
  .gitignore
  .lintstagedrc
  cypress.json
  cypress/fixtures/video.json
  cypress/fixtures/video2.json
  cypress/integration/youtube/index.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/components/droptarget/index.js
  src/components/serviceWorker.js
  src/index.js
Due: npm run lint:fix

rm: manual babel-eslint add
  package.json
Due: none

add: netlify toml - cypress tests
  netlify.toml
Due: none

rm: github pages hosting
  .github/workflows/nodejs.yml
Due: none

fix: package-lock
  package-lock.json
  package.json
Due: none

add: github action - cypress
  .github/workflows/cypress.yml
  netlify.toml
  package-lock.json
  package.json
Due: none

update: cypress github action
  .github/workflows/cypress.yml
Due: none

add: cypress record key secret env
  .github/workflows/cypress.yml
Due: none

add: cypress record=true
  .github/workflows/cypress.yml
Due: none

rm: netlify.toml
  netlify.toml
Due: none

fix: lint errors
  .lintstagedrc
  package.json
  src/components/serviceWorker.js
  src/index.js
Due: npm run lint:fix

chore: refactor index.js to fn component as well
  CNAME
  README.md
  package-lock.json
  package.json
  src/components/droptarget/index.js
  src/components/droptarget/styled.js
  src/components/modal/styled.js
  src/components/playlist/index.js
  src/components/sidebar/index.js
  src/components/sidebar/styled.js
  src/components/videocard/index.js
  src/components/videocard/styled.js
  src/index.css
  src/index.js
  src/styled.js
Due: npm run lint:fix, npm run lint:css

update: version bump
  README.md
  package.json
  src/components/droptarget/index.js
Due: npm run lint:fix

rm: warning
  src/index.js
Due: npm run lint:fix

update: clean-up dependencies
  package-lock.json
  package.json
  src/App.js
  src/components/dropzone/index.js
  src/components/playlist/index.js
  src/components/sidebar/index.js
  src/components/store.js
  src/components/videocard/index.js
  src/index.js
Due: npm run lint:fix

chore: cleanup
  package-lock.json
  package.json
  src/App.js
Due: npm run lint:fix

chore: // eslint-disable-next-line
  src/App.js
Due: npm run lint:fix

update: cypress tests
  .github/workflows/cypress.yml
  cypress/integration/index.spec.js
Due: npm run lint:fix

feat: shareable playlist URLs
  README.md
  src/App.js
  src/components/playlist/index.js
  src/components/videocard/index.js
  src/utils.js
Due: npm run lint:fix

fix: shareable URLs
  src/App.js
  src/components/videocard/index.js
  src/utils.js
Due: npm run lint:fix

update: responsive styling
  README.md
  package-lock.json
  package.json
  src/components/sidebar/styled.js
  src/index.css
Due: npm run lint:fix, npm run lint:css

fix: onFocus
  src/App.js
Due: npm run lint:fix

fix: remove last video / test
  src/App.js
  src/components/videocard/index.js
  src/utils.js
Due: npm run lint:fix

Update README.md
  README.md
Due: none

fix: prettier init
  .prettierrc
  package-lock.json
  package.json
  src/App.js
  src/components/droptarget/index.js
  src/components/droptarget/styled.js
  src/components/dropzone/index.js
  src/components/dropzone/styled.js
  src/components/modal/styled.js
  src/components/player/index.js
  src/components/playlist/index.js
  src/components/serviceWorker.js
  src/components/sidebar/index.js
  src/components/sidebar/styled.js
  src/components/store.js
  src/components/videocard/index.js
  src/components/videocard/styled.js
  src/styled.js
  src/utils.js
Due: npm run lint:fix, npm run lint:css

fix: a11y btns / focus
  package.json
  src/components/sidebar/index.js
  src/components/sidebar/styled.js
  src/components/videocard/styled.js
Due: npm run lint:fix, npm run lint:css

update: tests
  cypress/integration/actions.spec.js
  cypress/integration/precheck.spec.js
  cypress/plugins/index.js
  package-lock.json
  package.json
Due: npm run lint:fix

add: initial howto toast
  src/App.js
  src/index.css
Due: npm run lint:fix

update: tests
  cypress/integration/index.spec.js
Due: npm run lint:fix

fix: remove video test working locally
  cypress/integration/index.spec.js
  package-lock.json
  package.json
Due: npm run lint:fix

add: changelog generator
  .github/workflows/changelog.config.json
  .github/workflows/changelog.yml
  .prettierrc
  cypress/integration/actions.spec.js
  package-lock.json
  src/utils.js
Due: npm run lint:fix

chore: reorg github actions
  .github/workflows/changelog.config.json
  .github/workflows/cypress.yml
Due: none

add: changelog config
  changelog.config.json
Due: none

update: changelog name
  .github/workflows/changelog.yml
Due: none

test: cypress action.spec fix
  cypress/integration/actions.spec.js
Due: npm run lint:fix

update(test): remove second delete video test
  cypress/integration/actions.spec.js
Due: npm run lint:fix

chore: move rc files -> package.json
  .huskyrc
  .lintstagedrc
  .prettierrc
  .stylelintrc
  package-lock.json
  package.json
Due: none

update: cypress directory -> test
  LICENSE
  cypress.json
  package.json
  test/fixtures/video.json
  test/fixtures/video2.json
  test/integration/actions.spec.js
  test/integration/precheck.spec.js
  test/plugins/index.js
  test/screenshots/index.spec.js/Actions -- Add Video (failed).png
  test/screenshots/index.spec.js/Actions -- Remove Video (failed).png
  test/screenshots/index.spec.js/Joyride -- First Action (failed).png
  test/screenshots/index.spec.js/Server -- Page Load (failed).png
  test/support/commands.js
  test/support/index.js
  test/videos/index.spec.js.mp4
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{js,jsx}
  npm run fix: any of: {*.{css,json,md}}
  npm run lint:css: any of: src/**/styled.js
